@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');

@import url('https://fonts.googleapis.com/css?family=Roboto:400');

* {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

#button-wrapper {
  font-family: 'Roboto', sans-serif;
  font-size:21px;
  text-transform:uppercase;
  letter-spacing:6px;
  color:white;
  width:100%;
  height: 100px;
  position: absolute;
  top: 79%;
  left: 0;
  padding:20px 0px;
  overflow: visible;
}

.submit, .loader, .loader-wrapper{
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
}

.submit {
  z-index: 2;
  width: 214px;
  height: 60px;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display: block;
  border-radius: 200px;
  text-align: center;
  color: rgba(255,255,255,1);
  text-decoration: none;
  line-height: 288%;
  transition: all 0.7s ease, line-height 0s ease, color 0.4s ease, filter 0.2s ease;
}



#button-wrapper::selection, .submit::selection {
  background: transparent;
}

.submit:before {

  content:"";
  z-index:-2;
  width:100%;
  height:100%;
 background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  display:block;
  border-radius:200px;
  position:absolute;
  left:0;
  top:0;
  opacity:0.8;
  transform:scale(0.9) translateY(15px);
  filter:blur(20px);
  transition:all 0.2s ease;

}

.submit:after {
  content:"";
  z-index:-4;
  width:100%;
  height:100%;
  background: linear-gradient(to right, #ffb369 0%,#ff4272 100%); 
  display:block;
  border-radius:200px;
  position:absolute;
  left:0;
  top:0;
  opacity:0;
  transform:scale(1);

}

.submit:hover:before {

  transform:scale(0.9) translateY(5px);
  filter:blur(15px);

}

.submit:active {

  line-height:460%;
  filter:brightness(0.95);
  transition:all 0s;

}

.checked .submit:before {
  top:0px;
  opacity:0;
}

.checked .submit:after {

  animation: submit-after-anim 0.5s 4.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.checked {
 -webkit-filter: url("#goo");
 filter: url("#goo");
}

.yellow {
  background-color: #ffb369;
}

.pink {
  background-color: green;
}

.orange {
  background-color: #ff7b6e;

  transform:scale(0.2) rotate(30deg) translate(0px);
}

.checked .pink {
  animation: loader-anim-pink 4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .yellow  {
  animation: loader-anim-yellow 4s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .orange {
 animation: loader-anim-orange 4s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loader {
  width:95px;
  height:95px;
  border-radius:50%;
  opacity:0;
  z-index:1;
}

.checked .loader {
  opacity:1;
}

.checked .loader-wrapper {
  animation: wrapper-loader-anim 4.2s linear;
  width:95px;
  height:95px;
  transform:scale(0)

}

.checked .submit {
   width:325px;
  height:95px;

  line-height:440%;
  width:95px;
  color:rgba(255,255,255,0);
  background: rgb(32, 38, 57);
  animation: submit-anim 4s  cubic-bezier(0.39, 0.575, 0.565, 1);
}


.check-wrapper {
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  width:95px;
  height:95px;
  z-index:-1;
  opacity:1;
}

.check-wrapper svg {
  margin-top: 31px;
  margin-left: 16px;
}

.check{fill:none;
  stroke:#ffffff;
  stroke-width:10;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  z-index:-1;
}

.checked .check-wrapper {
  z-index:3;
}

.checked .check {
  animation: check 4s 4.4s ease forwards;
}


@keyframes loader-anim-pink {
  0% {transform:scale(0.2) rotate(0deg) translate(220px, 0px); }
  100% {transform:scale(0.2) rotate(1100deg) translate(300px, 0px);}
}

@keyframes loader-anim-yellow {
 0% {transform:scale(0.2) rotate(0deg) translate(300px, 0px); }
 100% {transform:scale(0.2) rotate(1100deg) translate(220px, 0px);}
}

@keyframes loader-anim-orange {
  0%,70% {transform:scale(0.2) rotate(30deg) translate(0px); }
  85% {transform:scale(0.2) rotate(30deg) translate(-300px);}
  100% {transform:scale(0.2) rotate(30deg) translate(0px); }
}

@keyframes wrapper-loader-anim {
  0% {transform:scale(0) translateY(0px) }
  10% {transform:scale(1) translateY(20px)}
  50%, {transform:scale(1.2) translateY(10px) }
  90% {transform:scale(1) translateY(-10px)}
  100% {transform:scale(0) translateY(0px)}
}

@keyframes submit-after-anim {
  0% {transform:scale(1); opacity:0.3 }
  100% {transform:scale(2); opacity:0 }
}

@keyframes submit-anim {
  0% {transform:scale(1) }
  5%, 95% {transform:scale(0.7) }
  100% {transform:scale(1)}
}

@keyframes check {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}


body {
  font-family: 'Palanquin Dark', sans-serif;
  background:var(--body-color);
}




#stepper {
  width:var(--box-width);
  height:var(--box-height);
  margin:0 auto;
  position:relative;
  box-shadow: 0 30px 30px -10px var(--box-color-shadow);

}

#container-wrapper {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 50px;
  line-height: 83px;
  width:100%;
  height:100%;
  overflow:hidden;
  display:block;
  position:relative;
  transform: scale(1.05);
}

.disabled {
 box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2), 0 30px 30px -10px var(--box-color-shadow) !important;
}

.disabled:after, .disabled:before  {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}


#bound {
  position:absolute;
  left:0;
  top:30%;
  right:0;
  bottom:0;
  margin:auto;
  width:calc(var(--box-width) * 2);
  height:var(--box-height);
  z-index:1;
  
}

.item {
  float:left;
  width:var(--box-width);
  height:var(--box-height);
  display:block;
  text-align:center;
  color:#fff;
  font-size:50px;
  line-height:83px;
}

ul {
  padding:0;
  margin:0;
  width:calc(var(--box-width) * var(--num));
  position:absolute;
  left:0;
  top:0;
}

.controller {
  width:calc(var(--box-width) / 2);
  height:var(--box-height);
  position:absolute;

}

.controller:active {
  transform:scale(0.9)
}

#next {
  right:0;
}

#prev {
  left:0;
}

#next:before, #next:after, #prev:before, #prev:after {
  content:"";
  position:absolute;
  width:30px;
  height:6px;
  border-radius:6px;
  background-color:var(--arrows-color);
}

#next:before, #prev:before {
  top:55px;
}

#next:after, #prev:after {
  top:38px;
}

#prev:before {
  transform: rotate(45deg);
}

#prev:after {
  transform: rotate(-45deg);
}


#next:before {
  transform: rotate(135deg);
}

#next:after {
  transform: rotate(225deg);
}

#next:after, #next:before {
 right:0;
}

#container {
  transition: all 0.5 ease;
}

.superellipse {
  border-radius: 23px;
  background-image: linear-gradient(to top, var(--box-color1), var(--box-color2));
}

.superellipse:before,
.superellipse:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width:var(--box-width);
  height:var(--box-height);
  background: inherit;
  border-radius: 100%;
  -webkit-transform: scaleX(2) scaleY(1.05);
  transform: scaleX(2) scaleY(1.05);
  clip: rect(0, 66px, 100px, 34px);
  z-index: -1;
}

.superellipse:after {
  -webkit-transform: scaleY(2) scaleX(1.05) rotate(90deg);
  transform: scaleY(2) scaleX(1.05) rotate(90deg);
  background-image: linear-gradient(to left, var(--box-color1) 25%, var(--box-color2) 75%);
}

.cursor {
  background-color:rgba(255,255,255,0.1);
  width:80px;
  height:80px;
  border-radius:50%;
  box-shadow:inset 0px 0px 25px rgba(255,255,255,0.7);
  position:absolute;
  z-index:200;
  pointer-events:none;
  opacity:0;
}

#number{
  display: block;
  text-align: center;
  color: #fff;
  font-size: 50px;
  line-height: 83px;
}

.ahorro{
  line-height: 1;
  text-align: center;
  font-size: 6vh;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ahorro span{
  font-size: 8vh;
}

.cambiar{
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    line-height: 1;
    text-align: center;
    font-size: 3vh;
    margin: 0;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

     background: var(--cambiar);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1vh;
}

.cambiar:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 12px -20px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
html {
  --cambiar: radial-gradient(circle at 10% 20%, rgb(85, 149, 27) 0.1%, rgb(183, 219, 87) 90%);
  --box-width: 100px;
  --box-height: 100px;
  --box-color: #ff4651;
  --box-color1: #fb3156;
  --box-color2: #fd735a;
  --body-color: #fff;
  --arrows-color: #ccc;
  --box-color-shadow: rgba(255,70,81,0.3);
  --num: 100;
}
